
.icon-ccw:before { content: '\e800'; } /* '' */
.icon-volume-off:before { content: '\e801'; } /* '' */
.icon-volume-up:before { content: '\e802'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */